<!-- caption here -->
<div class="description">
    <div class="description__parent">
        <div class="description__items" style="margin: 0;">
            <h2 class="meetOsmo">Meet Osmo youssef ait boudad</h2>
            <p class="meetOsmo__p">Osmo is an award-winning game system that will change the way your child interacts with the iPad and iPhone by opening them up to hands-on play.</p>
            <button class="btn btn-warning nav-btn" type="button" style="
            left: 0;
            font-size: 32px;
            "><span>Shop Now</span>
            <span class="glyphicon glyphicon-menu-right" style="
                font-size: 20px;
            "></span></button>
            <span class="meetOsmo__link">or <a href="#">Find in a store <span class="glyphicon glyphicon-menu-right" style="
                font-size: 14px;
            "></span></a></span>
        </div>
    </div>
</div>
