<!-- Modal -->
<div class="modal fade lazy" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-body videowrapper">
                <iframe id="videoPlayer" width="100%" height="360px" data-src="https://www.youtube.com/embed/1JoIqEGuSlk?enablejsapi=1&html5=1&rel=0&iv_load_policy=3&modestbranding=1&" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
