<div class="footer">
    <div class="footer__block">
        <div class="footer__links">
            <span><a href="#">Find in Store</a></span>
            <span><a href="#">Osmo Social Club</a></span>
            <span><a href="#">About Us</a></span>
            <span><a href="#">Blog</a></span>
            <span><a href="#">Media</a></span>
            <span><a href="#">Jobs</a></span>
            <span><a href="#">Support</a></span>
            <span class="unitedState"><a href="#">United States</a></span>
        </div>
        <div class="footer__email">
            <p class="footer__para">Sign up for our newsletter to hear about our new games and promotions!</p>
            <div class="footer__input">
                <div class="input__container">
                    <input type="text" placeholder="Name" name="uname" required="" class="input__text">
                    <button class="btn btn-warning input__btn" type="button"><span>Sign Up</span>
                    </button>
                    <p class="validEmail">
                        Please enter a valid email address
                    </p>
                </div>
            </div>
            <div class="footer__icons">
                <span class="facebook"></span>
                <span class="twitter"></span>
                <span class="instagram"></span>
                <span class="pinterest"></span>
                <span class="youtube"></span>
            </div>
        </div>
    </div>
    <div class="footer__policy">
        <div class="footer__policySpan">
            <span>
                Privacy Policy
            </span>
            <span>Terms of Use</span>
        </div>
        <p class="footer__plicyPara">Osmo™, Awbie™, and Tangible Play™ are trademarks of Tangible Play, Inc..</p>
    </div>
</div>
