<div class="homeStrip homeStrip-background">
    <div class="homeStrip__item">
        <div class="homeStrip__description">
            <a href="#" class="btn btn-outline-inverse workStrip__button btn-lg">
                <svg  xmlns="http://www.w3.org/2000/svg" width="30" height="30" style="vertical-align: bottom;">
                    <g>
                        <title>background</title>
                        <rect fill="none" id="canvas_background" height="402" width="582" y="-1" x="-1"/>
                    </g>
                    <g>
                        <title>Layer 1</title>
                        <path fill="#fff" class="svg_1" d="m21,1l-12,0c-1.105,0 -2,0.895 -2,2l0,24c0,1.105 0.895,2 2,2l12,0c1.105,0 2,-0.895 2,-2l0,-24c0,-1.105 -0.895,-2 -2,-2zm-6,26c-0.552,0 -1,-0.448 -1,-1c0,-0.552 0.448,-1 1,-1s1,0.448 1,1c0,0.552 -0.448,1 -1,1zm6,-3l-12,0l0,-20l12,0l0,20z" />
                    </g>
                </svg>
            <spna>Iphone</span>
        </a>
        <a href="#" class="btn btn-outline-inverse btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512" height="30px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="30px" xml:space="preserve" style="vertical-align: bottom;padding-right:5px"><g><g><path fill="#fff" class="svg_1" d="M480,0H32C14.328,0,0,14.312,0,32v448c0,17.688,14.328,32,32,32h448c17.672,0,32-14.312,32-32V32    C512,14.312,497.672,0,480,0z M448,384H64V64h384V384z"/></g></g></svg>
        <spna>Ipad</span>
    </a>
    <h2 class="meetOsmo">Now you can play with your hands</h2>
    <p class="meetOsmo__p">Put your iPad in the Osmo base with the red reflector over the camera — and now it can see what’s in front of it.
    </p>
</div>
</div>
</div>
