<div class="workStrip">
    <div class="workStrip__parent">
        <div class="icon-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="70">
                <g>
                    <title>background</title>
                    <rect fill="none" id="canvas_background" height="72" width="62" y="-1" x="-1"/>
                </g>
                <g>
                    <title>Layer 1</title>
                    <path fill="#ffffff" stroke="null" id="svg_1" d="m43.796032,17.452578l-15.248496,0c-1.404132,0 -2.541416,1.137284 -2.541416,2.541416l0,30.496991c0,1.404132 1.137284,2.541416 2.541416,2.541416l15.248496,0c1.404132,0 2.541416,-1.137284 2.541416,-2.541416l0,-30.496991c0,-1.404132 -1.137284,-2.541416 -2.541416,-2.541416zm-7.624248,33.038407c-0.701431,0 -1.270708,-0.569277 -1.270708,-1.270708c0,-0.701431 0.569277,-1.270708 1.270708,-1.270708s1.270708,0.569277 1.270708,1.270708c0,0.701431 -0.569277,1.270708 -1.270708,1.270708zm7.624248,-3.812124l-15.248496,0l0,-25.414159l15.248496,0l0,25.414159z"/>
                    <path fill="#ffffff" stroke="null" id="svg_2" d="m25.94547,22.333407l-9.478781,0c-0.872836,0 -1.579793,0.811825 -1.579793,1.814136l0,21.769686c0,1.002318 0.706957,1.814143 1.579793,1.814143l9.478781,0c0.872836,0 1.579793,-0.811825 1.579793,-1.814143l0,-21.769686c0,-1.002311 -0.706957,-1.814136 -1.579793,-1.814136zm-4.73939,23.583823c-0.436023,0 -0.789899,-0.406362 -0.789899,-0.907065c0,-0.500702 0.353876,-0.907072 0.789899,-0.907072s0.789899,0.40637 0.789899,0.907072c0,0.500702 -0.353876,0.907065 -0.789899,0.907065zm4.73939,-2.721208l-9.478781,0l0,-18.141406l9.478781,0l0,18.141406z"/>
                </g>
            </svg>
        </div>
        <div class="workStrip__title">
            <span>Works with <strong>iPad</strong> and <strong>iPhone</strong></span>
        </div>
        <div style="width: 215px;" class="workStrip__link">
            <a href="#" class="btn btn-outline-inverse workStrip__button btn-lg">Explore our Basses<span class="glyphicon glyphicon-menu-right" style="font-size: 18px;"></span></a>
        </div>
    </div>
</div>
