<!-- span trigger modal -->
<span id="palyButton" class="lazyload glyphicon glyphicon-play icon-play"  data-toggle="modal" data-target="#myModal" aria-hidden="true"></span>

<!-- caption here -->
<div class="caption">
    <div class="caption__container">
        <div class="caption__animated">
            <p class="caption__item item1">&nbsp;&nbsp;&nbsp;&nbsp;Play</p>
            <p class="caption__item item2">&nbsp;&nbsp;Learn</p>
            <p class="caption__item item3">Create</p>
        </div>
        <p>beyond the screen</p>
    </div>
</div>
