<div class="awardWining">
    <div class="visible-xs">
        <div class="awardWining__xs">
        </div>
    </div>
    <div class="hidden-xs">
        <div class="awardWining__block">
            <h2 class="awardWinning__block__header">Award-winning</h2>
            <div class="award__inner">
                <div class="award__title">Innovative Toy of the Year</div>
                <div class="award__organization award__organization1"></div>
                <div class="award__footer">Finalist 2015</div>
            </div>
            <div class="award__inner">
                <div class="award__title">Best Design</div>
                <div class="award__organization award__organization2"></div>
                <div class="award__footer">2016</div>
            </div>
            <div class="award__inner">
                <div class="award__title">Best Inventions</div>
                <div class="award__organization award__organization4"></div>
                <div class="award__footer">2014</div>
            </div>
            <div class="award__inner">
                <div class="award__title">Most Innovative Companies</div>
                <div class="award__organization award__organization3"></div>
                <div class="award__footer">Education, 2017</div>
            </div>
        </div>
    </div>
</div>
