            <nav class="sidebar" id="sidebar">
                <ul class="list-unstyled components">
                <li class="active">
                        <a id="submenuClick" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Game</a>
                            <div class="game-list" id="homeSubmenu">
                            <ul class="list-unstyled">
                                <li><a class="list-link" href="#"><span class="list-icon"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon1"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon2"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon3"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon4"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon5"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon6"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon7"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon8"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                                <li><a class="list-link" href="#"><span class="list-icon list-icon9"></span><span class="list-text">Hot Wheels™ MindRacers <SMALL>TM</SMALL></span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#">About</a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a class="list-link" href="#">Page 1</a></li>
                            <li><a class="list-link" href="#">Page 2</a></li>
                            <li><a class="list-link" href="#">Page 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Portfolio</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
