<div class="osmoContainer osmoContainer__schools">
    <div class="description__parent">
        <div class="description__items">
            <h3 class="description__title">Schools <span class="glyphicon glyphicon-heart"> </span> Osmo</h3>
            <p class="description__p">Osmo has been adopted in over 30,000 schools in 42 countries around the world.</p>
            <p>
                <img src="dist/img/osmoSchools/11004a2.scholastic-teacher-pick-award.png" alt="teacher's pick 2015" class="description__banner">
            </p>
        </div>
        <div class="img-presentation video-presentation">
            <img src="dist\img\osmoSchools\d2cb86b.schools-video-frame.jpg" alt="school's video frame" width="100%">
        </div>
        <a class="btn btn-outline btn-outline-schools" style="
            font-size: 24px;
            "><span>osmo for schools</span>
            <span class="glyphicon glyphicon-menu-right" style="
                font-size: 18px;
            "></span></a>
        </div>
    </div>
