<div class="description__parent">
    <div class="img-presentation video-presentation">
        <img src="dist\img\osmOrder\f6af283.iphone-ipad-fun-bases.png" alt="school's video frame" width="100%">
    </div>
    <div class="description__items" style="text-align: center;">
        <h3 class="description__title">Order Osmo</h3>
        <p class="description__p">We’re creating an environment for children where the line between fun and learning is blurred. Join us.</p>
        <button class="btn btn-warning nav-btn" type="button" style="
        left: 0;
        font-size: 32px;
        "><span>Shop Now</span>
        <span class="glyphicon glyphicon-menu-right" style="
            font-size: 20px;
        "></span></button>
        <p>
            <img src="dist/img/osmoSchools/11004a2.scholastic-teacher-pick-award.png" alt="teacher's pick 2015" class="description__banner">
        </p>
    </div>
</div>
